.scrolled{
  background-color: transparent;
  background-color: black;
  
  
}

nav {
  background: linear-gradient(#050D1D 21.29%, rgba(94, 106, 131, 0) 95%);
  transition: 0.6s;
  font-size: 20px;
  // width: 100%;

  a {
    font-size: 20px;
  }

  .active a {
    color: rgb(255, 230, 0) !important;
  }

  img {
    width: 60px;
  }

  li {
    display: flex;
    align-items: center;
  }

}
