
h1{
    font-size: 50px;
    color: rgb(255, 230, 0);
}

.promotion{
    color: rgb(194, 193, 189);

    .description{
        letter-spacing: 3px;
        line-height: 35px;
        font-weight: 600;
    }
}