<div class="main pb-5 ">
  
  <div class="col-10 mx-auto">
    <div class="content">
      <div  [@showItem]="isShown ? 'shown' : 'hidden'" *ngFor="let product of products; let index = index;" id="card" class="card mb-4 p-3">
        <img class="card-img-top" [routerLink]="['/menu', product.categoryName | lowercase, product.id]" [src]="product.image">
        <div class="card-body">
          <h2 class="card-title text-center">{{product.name | titlecase}}</h2>
          <div class="description">
            <p class="card-text text-center">{{product.description}} {{product.weight}} {{product.categoryName !== 'Drinks' ? 'гр' : 'л'}}</p>
          </div>
          <div>
            <button [routerLink]="['/menu', product.categoryName | lowercase, product.id]" class="btn btn-dark col-12">Детальніше</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>