<div [@showItem]="isShown ? 'shown' : 'hidden'" class="container col">
  <ng-template #template>
    <div *ngIf="!modalImage" class="modal-header bg-dark">
      <h3 *ngIf="!editStatus" class="modal-title text-success pull-left">New product</h3>
      <h3 *ngIf="editStatus" class="modal-title text-warning pull-left">Edit product</h3>
    </div>
    <div *ngIf="modalImage" class="modal-body">
      <img class="col" [src]="currentImage" alt="">
    </div>
    <div *ngIf="!modalImage" class="modal-body col container-fluid newProductModal">
      <form class="">
        <div class="form-group col row">
          <label class="col-3" for="categorySelect">Select category:</label>
          <select class="form-control col-9" id="categorySelect" [(ngModel)]="categoryName" (change)="setCategoryID()"
            name="categorySelect">
            <option [selected]="categoryName === item.categoryName" *ngFor="let item of categories;">
              {{item.categoryName | titlecase}}</option>
          </select>
        </div>
        <div class="form-group col row">
          <label class="col-3" for="productName">Product name:</label>
          <input type="text" [(ngModel)]="name" name="name" class="form-control col-9" id="productName"
            placeholder="Product name">
        </div>
        <div class="form-group col row">
          <label class="col-3" for="productDescription">Product description:</label>
          <textarea [(ngModel)]="productDescription" name="productDescription" class="form-control col-9"
            id="productDescription" placeholder="Product description"></textarea>
        </div>
        <div class="form-group col row">
          <label class="col-3" for="productWeight">Product weight:</label>
          <input type="number" [(ngModel)]="productWeight" name="productWeight" class="form-control col-9"
            id="productWeight" placeholder="Product weight">
        </div>
        <div class="form-group col row">
          <label class="col-3" for="productPrice">Product price:</label>
          <input type="number" [(ngModel)]="productPrice" name="productPrice" class="form-control col-9"
            id="productPrice" placeholder="Product price">
        </div>

        
        <div class="input-group col mx-auto container row mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload image</span>
            </div>
            <div class=" form-group custom-file col">
              <input type="file" class="custom-file-input" id="upload_file" (change)="imageCorrect = false; upload($event);"
                accept=".png,.jpg,.jfif" />
              <label class="custom-file-label" id="upload_file" for="upload_file">Choose...</label>
            </div>
          </div>



         
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar"
              [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>


          <div *ngIf="downloadURL | async; let downloadSrc;" class="alert mx-auto row" role="alert">
            <img [src]="downloadSrc" class="col-6"  alt="">
            <div class="col pt-5">
              <h2 class="text-center" >Is your image correct?</h2>
              <div class="col d-flex justify-content-around">
              
                <button type="button" class= "col-5 btn btn-danger" (click)="uploadProgress = null;downloadURL = '';imageCorrect = false" >Cancel</button>
                <button type="button" class="col-5 btn btn-success" (click)="imageCorrect = true" >Continue</button>
              </div>
            </div>
          </div>
      </form>
    </div>
    <div *ngIf="!modalImage" class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="resetForm(); modalRef.hide(); ">Close</button>
      <button type="button" *ngIf="!editStatus" class="btn btn-dark"
        [disabled]="productImage && imageCorrect && categoryName && productDescription && productWeight && productPrice && name ? false : true"
        (click)="modalRef.hide();addProduct();">Add</button>
      <button type="button" *ngIf="editStatus" class="btn btn-dark"
        [disabled]="imageCorrect && categoryName && productDescription && productWeight && productPrice && name ? false : true"
        (click)="addProduct();modalRef.hide();">Save edit</button>

    </div>
  </ng-template>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5>Products</h5>
      <button type="button" class="btn btn-dark col-2"
        (click)="modalImage = false; editStatus = false; openModalWithClass(template)">Add</button>
    </div>

    <div class="card-body">
      <input type="text" [(ngModel)]="searchProduct" name="searchProduct" class="form-control"
        placeholder="Filter products...">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsAdmin | filterAdminProducts:searchProduct; let i=index">
            <th>{{i+1}}</th>
            <td>{{product.categoryName}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td class="column_image" (click)="modalImage = true; openModalWithClass(template,product.image)"><img [src]="product.image" width="75px" alt=""></td>
            <td *ngIf="product.categoryName !== 'Drinks'">{{product.weight}} g</td>
            <td class="" *ngIf="product.categoryName == 'Drinks'">{{product.weight}} L</td>
            <td>{{product.price}}</td>
            <td><button class="btn btn-dark" (click)="modalImage = false; editProduct(product); openModalWithClass(template);">Edit</button>
            </td>
            <td><button class="btn btn-dark" (click)="deleteProduct(product)">Delete</button></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
