<div class="container-fluid main">
    <div class="row">
        <div class="col-2">
          <div class="nav flex-column nav-pills">
            <a class="nav-link " routerLinkActive="active text-white bg-secondary" routerLink="category">Category</a>
            <a class="nav-link " routerLinkActive="active text-white bg-secondary" routerLink="products">Products</a>
            <a class="nav-link " routerLinkActive="active text-white bg-secondary" routerLink="promotions">Promotions</a>
            <a class="nav-link " routerLinkActive="active text-white bg-secondary" routerLink="orders">Orders</a>
          </div>
        </div>
        <div class="col-10">
          <div class="tab-content" id="v-pills-tabContent">
                <router-outlet></router-outlet>
          </div>
        </div>
      </div>
</div>