<iframe  [@showItem]="isOpen ? 'videoShown' : 'hidden'" class="mx-auto" width="116%" height="105%"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" type="video/html"
  src="https://www.youtube.com/embed/lpnYYvX670U?autoplay=1&fs=0&playsinline=0&mute=1&loop=1&playlist=lpnYYvX670U&iv_load_policy=3&showinfo=0&end=66&modestbranding=0&disablekb=1&rel=0&controls=0&enablejsapi=1&cc_load_policy=0&start=0&vq=hd1080&origin=https://youtube-embed.com">
</iframe>
  <div class="content">
     <div class="mx-auto">
          <img  [@showItem]="isOpen ? 'shown' : 'logoHidden'" class="mx-auto main_logo" width="30%" src="../../../assets/images/logo-white.svg" alt="">
          <a [@showItem]="fOpen ? 'shown' : 'fHidden'" href="https://www.facebook.com/la.piec.pizza/" target="_blank" class="facebook"><img class="social facebook" src="../../../assets/images/facebook-logo-white.svg" alt=""></a>
          <a [@showItem]="iOpen ? 'shown' : 'iHidden'" href="https://www.instagram.com/pizza_la_piec/" target="_blank" class="instagram"><img class="social instagram" src="../../../assets/images/instagram-logo-white.svg" alt=""></a>
          <a [@showItem]="mOpen ? 'shown' : 'mHidden'" href="mailto:la.piec.lviv@gmail.com" class="mail"><img class="social mail" src="../../../assets/images/google-plus-logo-white.svg" alt=""></a>
     </div>  
  </div>


