iframe {
  position: absolute;
  top: -5%;
  left: -6%;
  opacity: 0.7;
  background-color: black;
  z-index: -100 !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  height: 100vh;
  margin-top: -8%;

  div {
    position: relative;
    backdrop-filter: blur(28px);
    height: 40%;
    width: 100%;

    a {
      position: absolute;
      border: 1.5px solid white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      top: 125%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;

    }

    .facebook {
      left: 40%;
    }

    .mail {
      left: 60%;
    }

    a:hover {
      background-color: rgba(255, 230, 0, 0.733);
      transition: 0.5s;
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.1);
    }
  }


  .main_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .social {
    width: 50%;
  }


  h1 {
    font-size: 50px;
    color: white;
    text-shadow: 6px 1px 7px rgba(255, 230, 0, 0.733);
  }

  .tagline_fast {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: rotate(335deg) translate(-50%, -50%);
  }
}

.info {
  background-color: rgba(0, 0, 0, 0.5);
}
