@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  box-sizing: border-box;
}


body {
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
  background: linear-gradient(to right, #1f1c2c, #918f8f, #1f1c2c);
}


.modal-content {
  margin: 10.5vh 0 0 0 !important;

  h1 {
    margin-bottom: 20px !important;
  }
}

.modal-body {
  margin-left: 0.5px;
}
